<div class="footer-left">
    <ul>
        <li>Info</li>
        <li>Search</li>
        <li>Contact</li>
        <li>About</li>
        <li>Privacy Policies</li>
        <li>Refund Policy</li>
        <li>Shipping Policy</li>
        <li>Terms of Service</li>
    </ul>
</div>
<div class="footer-right">
    <p>
        Our mission<br>
        Avenue Metro! The internet's goto place for Urban Contemporary Streetwear, and Entertainment. We offer Graphic Tees, Sweatshirts, Joggers, Hoodies, Handbags, and Sunglasses just to name a few. Once completed, Avenue Metro will be "Four Floors of Fun" consisting of Shopping, Gaming, Movies, and a unique online social experience unlike any other. The Metropolis is the future! Welcome to The Ave.
    </p>
</div>